body{
	margin: 40px auto;
	max-width: 720px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 10px;
	background-image: url("/images/geisel_blur.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1, h2, h3 {
	line-height:1.2;
}

#page-wrapper {
	background: rgba(255,255,255,0.95);
}

button {
	-webkit-appearance: none; /* safari */
	-moz-appearance: none; /* firefox */
	appearance: none; /* chrome */

	border: none;
	border-radius: 10px;
	padding: 4px 16px;
	background-color: #6677cd;
	color: white;
	cursor: pointer;
	transition: background-color 0.5s ease;
}

button:hover {
	background-color: #73e1df;
	transition: background-color 0.5s ease;
}

.loader {
	margin-top: 20px;
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.listView {
	padding-right: 5px;
	padding-top: 20px;
}

.listItem {
	color: white;
	font-weight: 1px;
	
}

.nav-tabs {
	color: white;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.nav {
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.nav_list-group {
	padding-top: 0px;
	margin-top: 0px;
}
.nav_list-group-item {
	background: transparent;
	color: white;
	border-color: #818181;
	border-top: 0 none;
	border-left: 0 none;
	border-right: 0 none;
}

.nav_list-group-item :hover{
	background: #696969;
	color: white;
	font-size: 18px;
	padding: 1px;
}

.badge {
	vertical-align: bottom;
	display: inline
	padding: 0px;
}

#requests {
	position: relative;
	left: 20px;
}

.glyphicon-ok {
	color: green;
}

.glyphicon-remove {
	color: red;
}

.glyphicon-plus {
	color: #818181;
}