<h1> Study Groups </h1>
<!-- <h1>Hello from createGroup.html and {{createGroupController}}</h1> -->


<!-- div to display group profile -->
<div class="groupDisplay" ng-show="viewGroups">

	<!-- if no groups yet -->
	<div ng-hide="groups" id="default_view">
	    <h2> You have no groups yet! </h2>
	</div>
	    

	<!--groups already exist and chose one group to view-->
	<div ng-show="groups">

	    <!-- delete group button if admin -->
		<div ng-show="isAdmin">
				<button ng-click="deleteGroup()" style="display:block;margin-left:90%">Delete Group</button>	
		</div>

        <!-- group data -->
	    <div id="groupPic" style="display:block;text-align:center; margin:0 auto;">
			<img src="http://geekxgirls.com/images/_comics/totoro-gifs-04.gif" style="width:200px;height:200px;display:block;margin-right:auto;margin-left:auto;" />
		    <h1 style="text-align:center;">Group Name</h1>
		</div>

		<div id="Bio">
			<h2 style="text-align: center;">About Group</h2>
	       	<h3>{{groupBio}}</h3>
	    </div>

	    <div id="Members" style="margin-left:10%">
			<h2 style="float:left">Members</h2>
	       	<h3>{{members}}</h3>
	    </div>

	    <div id="Classes" style="margin-right:10%">
			<h2 style="float:right">Class</h2>
	       	<h3>{{class}}</h3>
	    </div>
	
	</div>
</div>


<!-- div to display new group form-->
<div class="groupForm" ng-show="newGroup">
	    
    <!-- text to create new group -->
    <div class="create">
        <input type="text" class="form-control" placeholder="Group Name">
        <input type="text" class="form-control" placeholder="Add Members">      <!-- will be an autocomprlete -->
        <div class="create-btn">
        	<button ng-click="sendMessage()" ng-model="stuff" class="btn btn-default" type="button"> Create </button>
     </div>
	
</div>
