<!--
<h1>Hello from profile</h1>

<button ng-click="logout()">Logout</button>
-->

<!-- Align Center -->

<div class="profile_pic">
	<img src="images/profile.png" />
</div>

<div class="profile_info">

	<h1>{{firstName}} {{lastName}}</h1>

	<h2>Class List</h2>
	<h3 class ="profile_classList" ng-repeat="class in classList">{{class}}</h3>
	<div ng-show="isSelf">
		<button ng-click="modifyClassList()">Edit</button>	
	</div>

	<h2>User Bio</h2>
	<p>{{userBio}}</p>
	<div ng-show="isSelf">
		<button ng-click="modifyUserBio()">Edit</button>	
	</div>
	
	<h2>Study Habit</h2>
	<p>{{studyHabit}}</p>
	<div ng-show="isSelf">
		<button ng-click="modifyStudyHabit()">Edit</button>	
	</div>
	
	<div ng-show="isSelf">
		<button ng-click="deleteUserProfile()">Delete Profile</button>	
	</div>
	
</div>
