<!DOCTYPE html>
<html>
	<head>
		<title>Team Socially Dynamic</title>
		<base href='/'>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="style/main.css">
	</head>


	<body ng-app="SD">

		<h1> Hello world ! </h1>

		<div ng-view>
		</div>

	</body>

	<!-- script files -->
	
	<!-- master Anguar library files -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>

	<!-- This is the Firebase script for use in all contorlelrs -->
	<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

	
	
	<!-- OUR master app.js file -->
	<script src="controller/app.js"></script>

	<!-- OUR controller files! -->
	<script src="controller/loginController.js"></script>
	<script src="services/auth.js"
	
</html>