<!DOCTYPE html>
<html lang="en">

	<head>

		<title>Team Socially Dynamic</title>
		<base href='/'>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Team Socially Dynamic</title>

		<!-- Bootstrap Core CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="css/sb-admin.css" rel="stylesheet">

		<!-- Style for Slidebar -->
		<style>

		.slidenav {
			height: 100%;
			width: 0;
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			background-color: rgba(1,1,1,0.8);
			overflow-x: hidden;
			transition: 0.5s;
			padding-top: 59px;
			padding-left: 80px;
		}

		.slidenav a {
			padding: 0px 8px 8px 32px;
			text-decoration: none;
			font-size: 25px;
			color: #818181;
			display: block;
			transition: 0.3s;
		}

		.slidenav a:hover, .offcanvas a:focus{
			color: #f1f1f1;
		}

		.slidenav p {
			padding: 0px 8px 8px 32px;
			text-decoration: none;
			font-size: 25px;
			color: #818181;
			display: block;
			transition: 0.3s;
		}
		
		.slidenav .closebtn {
			position: fixed-top;
			top: 0;
			right: 25px;
			font-size: 36px;
			margin-left: 140px;
		}

		</style>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- Custom Global CSS -->
		<link rel="stylesheet" type="text/css" href="style/main.css">

		<!-- Custom Global Partial CSS -->
		<link href="style/profile.css" rel="stylesheet">
		<link href="style/login.css" rel="stylesheet">		
	</head>

	<body ng-app="SD">

		<div ng-controller="navController">
			<!--<h1>{{navController}}</h1>-->
			<!-- TODO: UNCOMMENT LINE ABOVE WHEN RUNNING SERVER -->
		
			
			<div id="wrapper">

			<!-- Navigation -->
			<nav class="navbar navbar-inverse navbar-fixed-top" ng-show="isNavbar" role="navigation">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand" href="/"><img src="images/studyr.png" class="img-responsive" title="studyr logo" width="85" height="50"></a>
				</div>

				<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
				<div class="navbar-header">
					<ul class="nav navbar-nav side-nav">
						<li class="active">
							<a href="/"><span style=""><img alt="My Profile" src="images/profile.png" class="img-responsive" title="profile" width="60" height="60"></span></a>
						</li>
						<li>
							<a href=""><span  ng-click="getFriendList()" onclick="toggleNav()" style=""><img title="Contacts" src="images/contacts.png" class="img-responsive" alt="Contacts" width="60" height="60"></span></a>
						</li>
						<li>
							<a href=""><span ng-click="getInbox(inbox.Wait)" style=""onclick="toggleNav()" style=""><img title="Inbox" src="images/inbox.png" class="img-responsive" alt="Inbox" width="60" height="60"></span></a>
						</li>
						<li>
							<a href=""><span ng-click="getGroup()" style="" onclick="toggleNav()" style=""><img title="Groups" src="images/group.png" class="img-responsive" alt="Groups" width="60" height="60"></span></a>
						</li>	
						<li>
							<a href=""><span ng-click="getMatch(matching.Class)" style="" onclick="toggleNav()" style=""><img title="Find Partner Match" src="images/partner match.png" class="img-responsive" alt="Find Partner Match" width="60" height="60"></span></a>
						</li>					
						<li ng-click="logout()">
							<a href=""><img title="Log out" src="images/logout.png" class="img-responsive" alt="logout" width="60" height="60"></a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</nav>

			<div class="container-fluid">
				<div class="row">	
					<div class="col-lg-12">
						<div id="mySlidenav" class="slidenav" ng-show="isNavbar">


							<!--Contact expand nav -->
						  	<div ng-show="navBarContents.contacts">
								<div ng-repeat="friend in friendList" >
								  <a ng-href="/profile/{{friend._id}}">
								  	{{friend.FirstName}} {{friend.LastName}}
								  </a>
								  <!-- ng-href="/conversation/{{friend.ConversationID}}" -->
								  <div class="row"> <div class="col-sm-4"><a> M </a></div><div class="col-sm-4"> <a> J </a></div> </div>
								</div>
							</div>



							<!--INBOX -->
						  	<div ng-show="navBarContents.inbox">

						  		<div class="row"> 
									<div class="col-sm-1"></div>
									<ul class="nav nav-tabs">
							  		<div class="col-sm-5"> <li class="active login_anchor" ng-click="getRequests()">Requests</li>&emsp;</div>  
							  		<div class="col-sm-5"> <li class="login_anchor"ng-click="getMessages()">Messages</li>&emsp;</div> 
									<div class="col-sm-1"></div></ul>
						  		</div>

								<div id="requests" ng-show="inboxToggles.requests">
									<h3> Friend Requests </h3>
									<div class="row" ng-repeat="friendRequest in friendRequestList track by $index">
										<div class="col-sm-7">
											<div class="login_anchor" ng-click="goToProfile(friendRequest.OtherID)">
											{{friendRequest.FirstName}} {{friendRequest.LastName}}
											</div>
										</div>
										<div class="col-sm-5">
											<span ng-click="responseFriend(res.accept,friendRequest.OtherID,$index)" class="login_anchor glyphicon glyphicon-ok"></span>
											<span ng-click="responseFriend(res.deny,friendRequest.OtherID,$index)" class="login_anchor glyphicon glyphicon-remove"></span>
										</div>
									</div>
								</div>
								<div id="messages" ng-show="inboxToggles.conversations">
								<h3> Messages </h3>
								</div> 
							</div>

							<div ng-show="navBarContents.group">
								<div class="row">
									<div class="col-sm-9">
									</div>
									<div class="col-sm-3">
										<span ng-click="toCreateGroup()" class="login_anchor glyphicon glyphicon-plus"></span>
									</div>
								</div>
								<div ng-repeat="group in groupList" >
								  <a ng-href="/group/{{group._id}}">
								  	{{group.GroupName}}
								  </a>
								  <!-- ng-href="/conversation/{{friend.ConversationID}}" -->
								  <div class="row"> <div class="col-sm-4"><a> M </a></div><div class="col-sm-4"> <a> J </a></div> </div>
								</div>
							</div>



						  	<div ng-show="navBarContents.partnerMatch">
						  		<div class="row"> 
									<div class="col-sm-1"></div>
									<ul class="nav nav-tabs">
							  		<div class="col-sm-3"> <li class="active login_anchor" ng-click="getMatch(matching.Class)">Class</li>&emsp;</div>  
							  		<div class="col-sm-3"> <li class="login_anchor"ng-click="getMatch(matching.Major)">Major</li>&emsp;</div> 
							  		<div class="col-sm-3"> <li class="login_anchor"ng-click="getMatch(matching.Habit)">Habit</li></div>
									<div class="col-sm-1"></div></ul>
						  		</div>
						  		<div class="row"> 
									  <div class="col-sm-5"></div>
									  <div class="col-sm-4">
									   <div class="loader" ng-show="loading"></div> 
									   </div>
							  		
						  		</div>
						  		
								<div>
									<div class="list-group nav_list-group">
										<a ng-href="/profile/{{match._id}}" class="list-group-item nav_list-group-item borderless" ng-repeat="match in matchList">
											{{match.FirstName}} {{match.LastName}}
											<span class="badge badge-default badge-pill pull-right">{{match.Match}}</span>
										</a>
									</div>

								  </div>
								</div>
							</div>						
						</div>
					</div>
				</div>
				
			</div>

		</div>
		<div id="page-wrapper">
			<div ng-view>
			</div>
		</div>
				
	</div>
	<!-- end of bootstrap stuff -->


    <!-- Scripts -->
	<script>
	var naTo = false;
	function toggleNav() {
		if (!naTo) {
			document.getElementById("mySlidenav").style.width = "330px";
			naTo = true;
		}
		else {
			document.getElementById("mySlidenav").style.width = "0";
			naTo = false;
		}
		//document.getElementById("main").style.marginLeft = "350px";
	}
	</script>

	<script src="/socket.io/socket.io.js"></script>
</body>

	<!-- script files -->
	
	<!-- master Anguar library files -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

	<!-- This is the Firebase script for use in all controllers -->
	<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

	
	<!-- OUR master app.js file -->
	<script src="controller/app.js"></script>

	<!-- OUR controller files! -->
	<script src="services/authService.js"></script>
	<script src="controller/loginController.js"></script>
	<script src="controller/profileController.js"></script>
	<script src="controller/conversationController.js"></script>
	
	<script src="controller/navController.js"></script>
	<script src="controller/createGroupController.js"></script>
	<script src="controller/groupConversationController.js"></script>
	<script src="controller/groupController.js"></script>

	<link rel = "stylesheet" href = "style/conversation.css">
</html>
